APP_AUTH_MODE=local
APP_ALLOWED_EMAILS=voce@exemplo.com,professora@exemplo.com
APP_USERS_JSON={}

JAM_API_BASE=https://core.proxy.prod.us-west-2.prod.jam.training.aws.dev
JAM_API_JWT=cole_seu_token_authorization_aqui
SQLITE_PATH=./jam_mapper.db
EXPORT_PATH=./exports

# Opcional: refresh controlado do token.
# Preencha apenas se voce souber os headers/body necessarios do POST de token.
JAM_TOKEN_REFRESH_ENABLED=false
JAM_TOKEN_REFRESH_URL=https://vs.aws.amazon.com/token
JAM_TOKEN_REFRESH_METHOD=POST
JAM_TOKEN_REFRESH_MIN_INTERVAL_SECONDS=900
JAM_TOKEN_REFRESH_COOKIE=
JAM_TOKEN_REFRESH_HEADERS_JSON={}
JAM_TOKEN_REFRESH_BODY_JSON={}

# Opcional/recomendado para deploy: salvar resolucoes Markdown no GitHub.
GITHUB_TOKEN=
GITHUB_REPO=RayssaGM21/jam-mapper
GITHUB_BRANCH=main
GITHUB_SOLUTIONS_DIR=solutions
